
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.register_box{
  display: flex;
  justify-content: space-around;
  margin-top: 2em; 
  overflow: hidden;
}
.register_box>div{
  width: 48%;
  height: 100%;
  /* border: 1px solid red; */
}

.register_box>div:first-child {
  border-radius: 1em;
  height: 80vh;
  overflow: hidden;
}

.register_container{
  border: 1px solid #BBB;
  border-radius: 1em;
  padding: 2em;
}

.login_signupToggle{

  display: flex;
  justify-content: space-evenly;
  background:#EBEBFF;
  border-radius: 5em;
  padding:0.5em 0;
  margin-top: 1em;
}

.checkBox_box{
  display: flex;
  justify-content: space-between;
}

.login_submit{
  display: flex;
  justify-content: flex-end;
}